@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/poppins-v20-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/poppins-v20-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/poppins-v20-latin-700.woff2") format("woff2");
}

:root {
  /* Colors */
  --primary-red: 0, 100%, 74%;
  --primary-green: 154, 59%, 51%;

  --accent-blue: 248, 32%, 49%;

  --neutral-dark-blue: 249, 10%, 26%;
  --neutral-gray-blue: 246, 25%, 77%;

  /* Fonts */
  --font-family: var(--font-family);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;

  --fs-200: 0.6875rem; /* 11px */
  --fs-300: 0.75rem; /* 12px */
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.25rem; /* 20px */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 1.75rem; /* 28px */
  --fs-800: 2rem; /* 32px */
  --fs-900: 3rem;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sign-up-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1440px;
  height: 800px;
  background-color: hsl(var(--primary-red));
  background-image: url("./assets/imgs/bg-intro-desktop.png");
  background-size: cover;
  color: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sign-up-form header {
  display: grid;
  gap: 2rem;
  padding-left: 10rem;
}

.sign-up-form h1 {
  font-size: var(--fs-900);
  align-self: end;
  line-height: 1.1;
}

.description {
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
}

.sign-up {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;

  padding-right: 10rem;
  padding-left: 3rem;
}

.price {
  width: 100%;
  text-align: center;
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  background: hsl(var(--accent-blue));
  box-shadow: 0 0.6rem 0rem hsla(0, 0%, 0%, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  align-self: end;
}

.price span {
  font-weight: var(--fw-bold);
}

.free-trial {
  width: 100%;
  background: #fff;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.6rem 0rem hsla(0, 0%, 0%, 0.2);
  align-self: start;

  display: grid;
  gap: 1rem;
}

.form-item {
  display: grid;
}

.flex-grp {
  display: flex;
  align-items: center;
  position: relative;
}

.form-item input {
  width: 100%;
  height: 3.5rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  color: hsl(var(--neutral-dark-blue));
  padding-left: 1.5rem;
  border: solid 1px hsl(var(--neutral-gray-blue));
  border-radius: 0.2rem;
}

.form-item input:focus,
.form-item input:active {
  outline: none;
  border: solid 1px hsl(var(--neutral-dark-blue));
}

.error-icon {
  position: absolute;
  right: 1.5rem;
}

.error-text {
  justify-self: end;
  margin-top: 5px;
  color: hsl(var(--primary-red));
  font-size: var(--fs-300);
  font-weight: var(--fw-semiBold);
  font-style: italic;
}

.disclaimer {
  text-align: center;
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  color: hsl(var(--neutral-gray-blue));
}

.terms,
.terms {
  color: hsl(var(--primary-red));
  font-weight: var(--fw-bold);
  text-decoration: none;
}

.btn {
  background: hsl(var(--primary-green));
  color: #fff;
  text-transform: uppercase;
  font-size: var(--fs-400);
  font-weight: var(--fw-semiBold);
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
}

.btn:hover {
  background: hsla(var(--primary-green), 0.8);
}

/* Attribution */
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6875rem;
  text-align: center;
  font-weight: 500;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
