@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/poppins-v20-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/poppins-v20-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/poppins-v20-latin-700.woff2") format("woff2");
}

:root {
  /* Colors */
  --primary-red: 0, 100%, 74%;
  --primary-green: 154, 59%, 51%;
  --accent-blue: 248, 32%, 49%;
  --neutral-dark-blue: 249, 10%, 26%;
  --neutral-gray-blue: 246, 25%, 77%;
  --white: white;

  /* Fonts */
  --font-family: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;

  --fs-200: 0.6875rem; /* 11px */
  --fs-300: 0.75rem; /* 12px */
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.25rem; /* 20px */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 1.75rem; /* 28px */
  --fs-800: 2rem; /* 32px */
  --fs-900: 3rem; /* 48px */
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Main section */
.subscription {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1440px;
  width: 100%;
  min-height: 800px;
  height: 70%;
  background-color: hsl(var(--primary-red));
  background-image: url("./assets/imgs/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* Header */
.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--white);
  justify-content: center;
  margin-left: 20%;
}

.info h1 {
  font-size: var(--fs-900);
  line-height: 1.2;
}

.info p {
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
}

/* Form section */
.form-section {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  justify-content: left;
  padding-right: 10%;
}

.trial-info {
  text-align: center;
  color: var(--white);
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  padding: 1.3rem 1rem;
  border-radius: 10px;
  background-color: hsl(var(--accent-blue));
  box-shadow: 0 0.6rem 0rem hsla(0, 0%, 0%, 0.2);
  align-self: end;
}

.trial-info span {
  font-weight: var(--fw-bold);
}

/* Form */
.trial-form {
  background-color: var(--white);
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0.6rem 0rem hsla(0, 0%, 0%, 0.2);
  align-self: start;

  display: grid;
  gap: 1.4rem;
}

/* Form item */
.form-item {
  display: grid;
}

.flex-grp {
  position: relative;
  display: flex;
  align-items: center;
}

.form-item input {
  width: 100%;
  padding: 1.2rem 1.2rem 1.2rem 1.7rem;
  border: 1px solid hsl(var(--neutral-gray-blue));
  border-radius: 5px;
  font-weight: var(--fw-medium);
  color: hsl(var(--neutral-dark-blue));
}

.form-item input:focus-visible {
  outline: none;
  border: solid 1px hsl(var(--neutral-dark-blue));
}

.error-icon {
  position: absolute;
  right: 10px;
}

.error-text {
  justify-self: end;
  margin-top: 5px;
  color: hsl(var(--primary-red));
  font-size: var(--fs-300);
  font-weight: var(--fw-semiBold);
  font-style: italic;
}

.error-icon,
.error-text {
  display: none;
}

.form-item.error .error-icon,
.form-item.error .error-text {
  display: block;
}

.form-item.error input {
  border: 3px solid hsl(var(--primary-red));
}

/* Form button */
.btn {
  background: hsl(var(--primary-green));
  color: #fff;
  text-transform: uppercase;
  font-size: var(--fs-400);
  font-weight: var(--fw-semiBold);
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
}

.btn:hover {
  background: hsla(var(--primary-green), 0.8);
}

/* Terms */
.disclaimer {
  text-align: center;
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  color: hsl(var(--neutral-gray-blue));
}

.terms {
  color: hsl(var(--primary-red));
  font-weight: var(--fw-bold);
  text-decoration: none;
}

/* Attribution */
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6875rem;
  text-align: center;
  font-weight: 500;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
